<!DOCTYPE html>
<html>
<head>
<center><h1>NAME</h1></center>
<center><h2>ID</h2></center><br><br>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

  <style>
body {
  background-color: grey;
}
</style>
<body>
<a href="/" target="_blank">HOME</a><br/><br/>
<br>

<form action="/closeApp" method="POST">

    KILL: <input type="text" placeholder="Yes/No" name="kill" > <br/><br/>

    <div class="col-auto">
        <button class="btn btn-lg btn-outline-primary" type="submit">KILL</button>
                                 </div>
      </form>
<br/><br/>
<br/><br>

 </body>
</html>