<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2</title>
    <style>
      * {
        background-color: darkgrey;
      }       
      a {
        text-decoration: none;
        background-color: rgb(44, 134, 212);
        padding: 5px;
        border-radius: 5px;
        color: white;
      }
    </style>
  </head>
  <body style="margin: auto; padding-top: 50px">
    <center><h2>NAME</h2></center>
    <center><h3>ID</h3></center>
    <div style="padding-top: 30px">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          gap: 30px;
        "
      >
        <a href="/eq" class="btn">ALL EARTHQUAKES</a>
        <a href="/largeeq" class="btn">LARGEST EARTHQUAKES</a>
        <a href="/distance" class="btn">FIND EARTHQUAKES WITHIN RADIUS</a>
        <a href="date-range" class="btn"
          >FIND EARTHQUAKES WITHIN DATE RANGE AND MAGNITUDE</a
        >
        <a href="/ndays" class="btn">GET LAST N DAYS RECORDS WITH RANGES</a>
        <a href="/compare" class="btn"
          >COMPARE EARTHQUAKES OF TWO DIFFERENT LOCATIONS BASED ON RADIUS</a
        >
        <a href="/largest-eq-radius" class="btn"
          >FIND LARGEST EARTHQUAKE FROM A LOCATION WITH IN THE RADIUS</a
        >
      </div>
    </div>
  </body>
</html>
