<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1</title>
    <style>
      * {
        background-color: darkgrey;
      }            
      a {
        text-decoration: none;
        background-color: rgb(44, 134, 212);
        padding: 5px;
        border-radius: 5px;
        color: white;
      }
    </style>
  </head>
  <body style="margin: auto; padding-top: 50px">
    <div>
      <h1 style="text-align: center;">ID</h1>
      <h1 style="text-align: center;">NAME</h1>
      <br>
      <br>
      <br>      
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          gap: 20px;
        "
      >
        <a href="/people" class="btn">ALL PEOPLE</a>
        <a href="/find" class="btn">SEARCH PEOPLE</a>
        <a href="/delete" class="btn">DELETE A PERSON</a>
        <a href="/updatedetails" class="btn">UPDATE A PERSON DETAILS</a>
        <a href="/addpicture" class="btn">ADD A PICTURE FOR A PERSON</a>
        <a href="/searchsalary" class="btn"
          >SEARCH PERSONS BASED ON SALARY RANGE</a
        >
        <a href="/addnew" class="btn">ADD A NEW PERSON</a>
      </div>
    </div>
  </body>
</html>
